
/*  Reset  */
*, ::before, ::after{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;

}

/*  --- estilos ---  */

/*  Colores  */

.color-fondo--azul-claro {
    background-color: rgb(216, 235, 240);
}


/*  Tamaños  */

.width-medium {
    width: 6rem;
}

.height-large {
    height: 30rem;
}


/*  Positions  */

.position-relative {
    position: relative;
}


/*  Margins  */

.margin-horizontal-small {
    margin: 2rem 0;
}


/*  Alineaciones  */

.justify-content-center {
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

/*  Displays  */


.display-none {
    display: none;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
}
.display-flex-row--centrado {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.display-flex-column {
    display: flex;
    flex-direction: column;
}
.display-flex-column--centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Colores para distinguir las cajas *//*
div {
    background-color: rgba(255, 0, 0, 0.05);
}*/

